ol.smooth {
  color: dark blue;
  width: 60%;
  font-style: italic;
  font-family: indy;
}
ol.flashy {
  width: 75%;
  font-style: italic;
  font-weight: bold;
}
ol.loud {
  color: pink;
  width: 60%;
  font-family: century gothic;
}